@import 'tailwindcss';

:root {
  --primary-main: #003cc5;
  --primary-main-200: #95c7ff;
  --gradient-hover: linear-gradient(180deg, #bfdcff 0%, rgba(191, 220, 255, 0) 100%);
  --background: #ffffff;
  --foreground: #111111;
  --btn-gradient: linear-gradient(to right, #29bff4, #003cc5);
}

.dark {
  --primary-main: #4f5dff;
  --primary-main-200: #a5b8ff;
  --gradient-hover: linear-gradient(180deg, #1a1a2b 0%, rgba(26, 26, 43, 0) 100%);
  --btn-gradient: linear-gradient(to right, #29bff4, #003cc5);
  --background: #111111;
  --foreground: #f4f4f5;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Urbanist', sans-serif;
  }
}
@layer utilities {
  .bg-card-gradient {
    background: var(--gradient-hover);
    color: white;
    transition: opacity 0.8s ease;
  }

  .hover\:bg-card-gradient:hover {
    background: var(--gradient-hover);
  }

  .hover\:border-primary-var:hover {
    border-color: var(--primary-main-200);
  }
}
